<!DOCTYPE html>
<html>
<head>
	<title>staffportal</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>n</h1>
<div class="container">
  <form method="get" action="/product">
    <div class="form-group">
      <label for="product_code">product_code:</label>
      <input type="text" class="form-control" id="product_code" placeholder="Enter product_code" name="product_code">
    </div>
    <div class="form-group">
      <label for="product_name">product_name:</label>
      <input type="text" class="form-control" id="product_name" placeholder="Enter product_name" name="product_name">
    </div>
    <div class="form-group">
      <label for="product_price">product_price:</label>
      <input type="number" class="form-control" id="product_price" placeholder="Enter product_price" name="product_price">
    </div>
    <div class="form-group">
      <label for="product_gst">product_gst:</label>
      <input type="number" class="form-control" id="product_gst" placeholder="Enter product_gst" name="product_gst">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
    <a href="/showall">Showall</a>
    <a href="/bill">Billing</a>
  </form>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th>Product_code</th>
      <th>Product_name</th>
      <th>Product_price</th>
      <th>product_gst</th>
      <th>Edit</th>
    </tr>
  </thead>
<% for(var i=0;i<result.length;i++){%>
  <tbody>
    <tr>
      <td><%=result[i].product_code%></td>
      <td><%=result[i].product_name%></td>
      <td><%=result[i].product_price%></td>
      <td><%=result[i].product_gst%></td>
      <td><a href="/Edit/<%= result[i].product_code%>"><button type="submit"  class="btn btn-primary btn-sm  ">Edit</button></a></td>

    </tr>
  </tbody>
  <%}%>
</table>

</body>
</html>



